opencv-python==4.9.0.80
mediapipe==0.10.14
numpy==1.26.4
torch==2.2.2
pyautogui==0.9.54
pycaw==20240210
comtypes==1.2.0
pillow==10.3.0
pandas==2.2.2
mss==9.0.1
screen-brightness-control==0.22.1
vosk==0.3.45
sounddevice==0.4.7
flask==3.0.2
gevent==24.2.1
